<h1>Real Time Search</h1>
<!--Realtime search box-->
<div id="results" data-controller="search">
  <input id="search" type="search" data-action="search#log" autocomplete = "off">
  <div id="search-results">
    <ul>
        Log
      <div data-search-target="searches" id="searches">
        <%= render partial: :search, collection: @searches %>
      </div>
        <li data-search-target="log"></li>
    </ul> 
    <div id="analytics" >
        Trends
        <div data-search-target="analytics">
          <%= render partial:  'searches/analytics', locals: {counts: @counts}  %>
        </div>
    </div>
  </div>
</div>
